[Desktop Entry]
Encoding=UTF-8
Name=Link to bezjhan
Type=Link
URL=https://bezjhan.neocities.org/
Icon=text-html
Name[en_US]=Link to bezjhan.neocities.org
